html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* --------------------------------- */

/* ---------------------- */
/*    General Styling     */
/* ---------------------- */

html {
    font-size: 125%;
}

body {
    background: url(./assets/memphis-colorful.png);
    font-family: 'Barlow', sans-serif;
}

header,
footer {
    background: url(./assets/geometry.png);
    text-align: center;
}

h1,
h2,
h3,
p,
ul{
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a,
.pageChange a:hover,
.pageChange a:focus,
.startGame:hover,
.startGame:focus,
.newGame a:hover,
.newGame a:focus {
    color: #000
}

a {
    text-decoration: none;
    transition-duration: 0.3s;
}

a:hover,
a:focus {
    color: #9BD694;
}

button {
    background: #FFF;
    font-family: 'Barlow', sans-serif;
    padding: 10px 0;
    transition-duration: 0.3s;
}

button:hover,
button:focus {
    border: 1px solid #000;
    border-bottom: 5px solid #000;
}

.wrapper,
.triviaContainer {
    margin: 0 auto;
}

.wrapper {
    min-height: 70vh;
    width: 85%;
    max-width: 1400px;
}

.triviaHidden,
.triviaSetting,
.triviaOptions,
.gameMenu,
.answerChoices,
.savedGames,
.teamAwesome {
    display: flex;
}

.triviaContainer::before,
.pageChange,
.startGame:hover,
.startGame:focus,
.submitAnswer:hover,
.submit:focus,
.listOfGames:hover,
.listOfGames:focus {
    background: #AFEDFF;
}

.pageChange,
.pageChange:hover,
.pageChange:focus,
.popUp button,
select,
fieldset {
    border: none;
}


/* --------------------- */
/*    Header Styling     */
/* --------------------- */

h1 {
    color: #FAFAFA;
    border-bottom: 5px solid #FFB0C6;
    font-family: 'Merienda One', cursive;
    font-size: 4rem;
    margin-bottom: 150px;
    padding: 10px 0 25px 0;
    position: relative;
    text-shadow:
        -3px -3px 0 #FFB0C6,
        0 -3px 0 #FFB0C6,
        3px -3px 0 #FFB0C6,
        3px 0 0 #FFB0C6,
        3px 3px 0 #FFB0C6,
        0 3px 0 #FFB0C6,
        -3px 3px 0 #FFB0C6,
        -3px 0 0 #FFB0C6;
}


/* --------------------------- */
/*    Current Game Styling     */
/* --------------------------- */

.triviaContainer {
    background: #FAFAFA;
    border: 5px solid #AFEDFF;
    border-radius: 15px;
    height: 550px;
    max-width: 1100px;
    padding: 50px;
    position: relative;
}

.triviaContainer::before {
    content: '';
    border-radius: 15px;
    height: 550px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-7deg);
    width: 100%;
    z-index: -1;
}

.triviaHidden {
    height: auto;
    padding-left: 10px;
    padding-bottom: 50px;
}

.pageChange {
    border-radius: 10px 10px 0 0;
    font-weight: bold;
}

.pageChange a {
    color: #FFF;
    padding: 10px 20px;
    transition-duration: 0.3s;
}

.triviaContainer .pageChange {
    position: absolute;
    top: -45px;
    left: 70px
}

.triviaSetting {
    flex-direction: column;
    align-items: center;
}

.triviaOptions {
    justify-content: space-around;
    width: 100%;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(./assets/chevron-down-solid.svg);
    background-position: 95% center;
    background-repeat: no-repeat;
    background-size: 25px;
    font-family: 'Barlow', sans-serif;
    padding: 10px;
}

.categories,
.type {
    border: 1px solid #9BD694;
    border-bottom: 5px solid #9BD694;
    width: 230px;
}

.questionNum,
.difficulty {
    border: 1px solid #FFB0C6;
    border-bottom: 5px solid #FFB0C6;
    width: 170px;
}

.startGame {
    border: 7px solid #AFEDFF;
    border-radius: 10px;
    color: #AFEDFF;
    font-family: 'Merienda One', cursive;
    font-size: 2.5rem;
    padding: 15px 80px;
    margin: 150px 0 80px 0;
    text-transform: uppercase;
}

.startGame:hover,
.startGame:focus {
    border: 7px solid #000;
}

.gameMenu {
    padding-left: 10px;
}

.saveGame,
.newGame,
.submitAnswer {
    padding: 10px 25px;
}

.saveGame {
    border: 1px solid #9BD694;
    border-bottom: 5px solid #9BD694;
    margin-right: 20px;
}

.saveGame:hover,
.saveGame:focus {
    background: #9BD694;
}

.newGame {
    border: 1px solid #FFB0C6;
    border-bottom: 5px solid #FFB0C6;
}

.newGame:hover,
.newGame:focus {
    background: #FFB0C6;
}

.counter {
    margin: 30px 0 0 10px;
}

.popUpContainer {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.popUp {
    background: rgba(0, 0, 0, 0.85);
    color: #FFF;
    height: 250px;
    margin: 350px auto;
    padding: 60px;
    text-align: center;
    width: 450px;
}

.popUp button {
    background: none;
    color: #FFF;
    font-size: 2rem;
    margin: 50px 50px 0 50px;
}

.popUp button:hover,
.popUp button:focus {
    color: #FFB0C6;
}

.affirm a {
    color: #FFF;
}

.popUp .affirm a:hover,
.popUp .affirm a:focus  {
    color: #9BD694;
}

.popUp .endGame {
    margin: 0;
}

.popUp p {
    margin-top: 50px;
}

.popUp .endGame p {
    margin-top: 0;
}

.popUp .endGame button {
    margin: 0;
}

.popUp h2 {
    margin-top: 40px;
}

.endGame p,
.popUp .loadGameMessage,
.popUp .newGameMessage {
    margin-top: 0;
}

.endGame button {
    font-size: 1.6rem;
    margin: 30px 0 0 0;
    padding: 0 50px;
}

.questionBox {
    min-width: 100%;
    padding-left: 10px;
}

.question {
    margin-top: 20px;
}

.questionContainer {
    margin: 20px 0;
}

.answerChoices {
    flex-direction: column;
}

.answer {
    margin: 5px 0;
}

.answer input {
    margin-right: 15px;
}

.submitAnswer {
    border: 1px solid #AFEDFF;
    border-bottom: 5px solid #AFEDFF;
    display: block;
    margin: 2% 5% 0 auto;
}

fieldset {
    height: 150px;
    padding: 0;
}


/* ------------------------- */
/*    Saved Game Styling     */
/* ------------------------- */

.savedGames {
    flex-wrap: wrap;
    height: 100%;
    overflow-y: auto;
    scrollbar-color: #AFEDFF #D1D1D1;
    scrollbar-width: thin;
}

.savedGames::-webkit-scrollbar {
    width: 8px;
}

.savedGames::-webkit-scrollbar-track {
    background: #D1D1D1;
    border-radius: 10px;
}

.savedGames::-webkit-scrollbar-thumb {
    background-color: #AFEDFF;
    border-radius: 10px;
}

.listOfGames {
    border: 3px solid #AFEDFF;
    border-radius: 10px;
    height: 100px;
    margin: 10px 50px 10px 0;
    padding: 10px;
    transition-duration: 0.3s;
    width: 260px;
}

h3 {
    font-size: 1rem;
}

.regularWeight {
    font-weight: normal;
}


/* --------------------- */
/*    Footer Styling     */
/* --------------------- */

footer {
    border-top: 5px solid #9BD694;
    font-size: 0.9rem;
    margin-top: 80px;
    padding: 20px;
}

.teamAwesome {
    justify-content: space-evenly;
    margin: 20px 0;
}

.teamAwesome i {
    padding: 0 5px;
}


/* ------------------------- */
/*    Responsive Styling     */
/* ------------------------- */

@media (max-width: 1250px) {
    .listOfGames {
        margin: 10px 30px 10px 0;
        width: 255px;
    }
}

@media (max-width: 1161px) {
    .listOfGames {
        margin: 10px 15px 10px 0;
        width: 248px;
    }
}

@media (max-width: 1084px) {
    .listOfGames {
        margin: 10px 48px 10px 0;
        width: 260px;
    }
}

@media (max-width: 1000px) {
    .categories,
    .questionNum,
    .type,
    .difficulty {
        font-size: 0.8rem;
    }
}

@media (max-width: 900px) {
    .questionNum,
    .difficulty {
        width: 140px;
    }
}

@media (max-width: 880px) {
    .teamAwesome {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 100px;
    }

    .teamAwesome li {
        margin: 0 30px;
        padding: 5px 0;
    }

    .listOfGames {
        margin: 10px 15px 10px 0;
        width: 248px;
    }
}

@media (max-width: 840px) {
    .questionContainer {
        font-size: 0.8rem;
    }

    .answerChoices {
        font-size: 0.8rem;
    }
}

@media (max-width: 800px) {
    .triviaContainer {
        display: flex;
        flex-wrap: wrap;
        height: 580px;
        justify-content: center;
        align-items: center;
    }

    .triviaContainer::before {
        height: 580px;
    }

    .startGame {
        margin-top: 50px;
        height: 90px;
        padding: 10px;
    }

    .select {
        padding: 40px;
    }
    
    .triviaOptions {
        flex-wrap: wrap;
    }

    .gameNav {
        margin-top: -60px;
    }

    .questionBox {
        margin-top: -100px;
    }

    .questionContainer {
        margin: 0 0 20px 0;
    }

    .submitAnswer {
        margin: 0 5% 0 auto;
    }

    .listOfGames {
        font-size: 0.8rem;
        height: 120px;
        width: 145px;
    }

    .listOfGames p {
        margin: 0;
    }

    h3 {
        font-size: 0.8rem;
    }
}

@media (max-width: 735px) {
    .teamAwesome {
        padding: 0 20px;
    }
}

@media (max-width: 590px) {
    .triviaContainer {
        height: 600px;
        justify-content: space-evenly;
        padding-top: 0;
        flex-direction: column;
    }

    .teamAwesome {
        padding: 0 85px;
    }

    .teamAwesome li {
        margin: 0;
        padding: 0 0 5px 0;
    }

    li, 
    p {
        list-style-type: none;
        margin: 5px;
    }

    .triviaContainer::before {
        content: none;
    }

    .gameNav {
        min-width: 100%;
    }

    .questionBox {
        padding-left: 0;
    }

    .gameMenu,
    .counter {
        padding-left: 0;
        margin-left: 0;
    }

    .submitAnswer {
        margin: 30px auto 0;
    }

    h2 {
        font-size: 1.2rem;
    }

    .questionNum,
    .difficulty {
        width: 230px;
    }

    .triviaOptions select {
        margin-top: 10px;
    }

    .triviaContainer.savedContainer {
        padding-top: 50px;
    }
}

@media (max-width: 532px) {
    .listOfGames {
        font-size: 0.9rem;
        height: 100px;
        width: 230px;
    }

    h3 {
        font-size: 0.9rem;
    }
}

@media (max-width: 520px) {
    .popUp {
        height: 250px;
        margin-top: 350px;
        padding: 55px 30px 30px 30px;
        width: 300px;
        margin-top: 200px;
    }

    .popUp button {
        font-size: 1.5rem;
        margin: 50px 35px 0 35px;
    }

    .endGame button {
        font-size: 1.4rem;
        margin: 45px 0 0 0;
        padding: 0 20px;
    }

    h1 {
        font-size: 3rem;
    }
}

@media (max-width: 460px) {
    .listOfGames {
        font-size: 0.8rem;
        height: 120px;
        width: 145px;
    }

    h3 {
        font-size: 0.8rem;
    }
}

@media (max-width: 443px) {
    .triviaContainer {
        height: 680px;
    }

    .teamAwesome {
        padding: 0 30px;
    }
}

@media (max-width: 400px) {
    .categories,
    .questionNum,
    .type,
    .difficulty {
        width: 180px;
    }

    h2 {
        font-size: 1.15rem;
    }

    .question,
    label {
        font-size: 0.8rem;
    }

    .gameMenu {
        flex-direction: column;
    }

    .saveGame {
        margin-right: 0;
    }

    .newGame {
        margin-top: 20px;
    }

    .submitAnswer {
        margin: 20px auto 0;
    }

    label {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    .categories,
    .questionNum,
    .type,
    .difficulty {
        width: 180px;
    }
}

@media (max-width: 370px) {
    .triviaContainer {
        padding: 0 20px 20px;
    }

    .triviaContainer.savedContainer {
        padding: 50px 30px;
    }

    .popUp {
        height: 200px;
        padding: 55px 30px 30px 30px;
        width: 250px;
    }

    .popUp p {
        margin-top: 10px;
    }

    .popUp button {
        font-size: 1.5rem;
        margin: 20px 27px 0 27px;
    }

    .popUp.endGame {
        padding-top: 40px;
    }

    .endGame button {
        font-size: 1.2rem;
        margin: 20px 0 0 0;
        padding: 0 10px;
    }

    .teamAwesome {
        padding: 0;
    }
}

@media (max-width: 350px) {
    .triviaContainer {
        height: 700px;
    }
}

@media (max-height: 900px) {
    .wrapper {
        min-height: 60vh;
    }

    footer {
        margin-top: 150px;
    }    
}

@media (max-height: 500px) {
    .popUp {
        margin-top: 50px;
    }

    footer {
        margin-top: 150px;
    }    
}